.calendar_grid{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 75%;
    height: 50%;
    margin: 0 auto;
    column-gap: 5px;
    row-gap: 5px;

}
.calendar_day{
    background-color: #c8acee;
    
}
.calendar_day:hover{
    transition: transform 100ms ease-out;
    transform: scale(1.1);
}      

.calendar_anchor{
    height: 100%;
    grid-row: 1;


}
.calendar_month{
    font-size: 2.5em;
    text-align: center;
}
.calendar_day-low{
    background-color: #acebee;

}
.calendar_day-med{
    background-color: #dcee95;

}
.calendar_day-high{
background-color: #ec6996;
}
.calendar_header{
    text-align: center;

}
.day_anchor{
    height: 100%;
}
.single_day{
    height:50%;
    width: 75%;
    margin: 0 auto;
    color: #435590;     

}

