.calendar_grid{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 75%;
    height: 50%;
    margin: 0 auto;
    column-gap: 10px;
    row-gap: 10px;


}
.calendar_day{
    background-color: white;
  
}
.col-mid{
   
}
.calendar_anchor{
    height: 100%;
}
.calendar_month{
    font-size: 2.5em;
    text-align: center;
}