.card{
    
    border: 1px solid;
    box-shadow: 5px 10px 20px #413f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #455588;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: large;
    text-align: center;
}

.card__container{
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}