.slider {
    width: 100%;
}

.slider_input {
    -webkit-appearance: none;
    width: 100% #ffffff;
    height: 8px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    padding: 0;
    margin: 0;
}
.slider_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50px;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3e4c81;
    cursor: pointer;
  }
  
  .slider_input::-moz-range-thumb {
    width: 20x;
    height: 20px;
    background: #3e4c81;
    cursor: pointer;
  }

.range__value {
    display: inline-block;
    position: relative;
    width: 40px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #3e4c81;
    padding: 5px 10px;
    margin-left: 8px;
    box-sizing: border-box;

}

.range__value::after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #3e4c81;
    border-bottom: 7px solid transparent;
    content: '';
}
